.main
  &__hero
    padding: 65px 0 275px 0
.hero
  background: url('../images/bg-curve-desktop.svg') no-repeat bottom / contain
  &__title
    margin-bottom: 0
  &__image
    max-width: 50%
    margin-top: -2.5rem
  &__text
    font-size: 1.12rem
    max-width: 91%
.content-wrap
  display: flex
  flex-wrap: wrap
  justify-content: space-between
.wrap
  flex-basis: 49%
.title
  font-family: $font
  line-height: 3.8rem
  font-size: 2.5rem
.form
  font-family: $font
  display: flex
  &__input
    flex-basis: 51%
    margin-right: 15px
  &__button
    flex-basis: 32%
